/* 
@font-face {
  font-family: 'Rubik Glitch';
  src: url('Rubik_Glitch/RubikGlitch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "Open Sans";
  font-weight: 500;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: space-between; */
  background-color: #eae2d7;
  font-size: 20px;
  margin: 150px 0 150px 150px;
}

h1 {
font-family: "Aldrich";
font-size: 40px;
text-decoration: underline;
}

h3 {
font-family: "Aldrich";
color: #ef3939;
font-size: 30px;
}


.flexRow {
  margin: 10px;
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid black; */
}

.flexBox {
  margin: 10px;
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
  padding-left: 100px;
  /* max-width: 500px; */
  /* flex-direction: row-reverse; */
}

a {
  display: inline;
}

  @media (max-width: 768px) {
  body {
    padding: 10px;
    font-size: 24px;
    margin: 0px;
  }

  h1 {
    font-size: 34px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
    text-align: center;
  }

  p {
    line-height: 1.6;
    font-size: 15px;
  }
    .flexBox {
  padding-left: 0px;
 
}

  .container {
    flex-direction: column;
    gap: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
